.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: relative;

    
    padding: 8px 12px;
    border: 1px solid rgb(122, 117, 127);
    border-radius: 8px;
    min-width: 43px;

    /* animation: change 5s; */

}
/* @keyframes change {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(20px);
    }
} */

.item__number {
    color: rgb(30, 25, 43);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
}

.item__text {
    color: rgb(73, 69, 78);
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: center;
}

.active {
    background-color: #e9def8;
    border-color: #e9def8;
}
.circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ba1a1a;
    position: absolute;
    top:5px;
    right: 4px;
}

