.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.5px;
    position: sticky;
    bottom: 0px;
    background-color: white;
    padding-top: 12px;
}